.todo-item {
    -webkit-transition: color 0.6s, background-color 0.3s;
    -moz-transition: color 0.6s, background-color 0.3s;
    -ms-transition: color 0.6s, background-color 0.3s;
    transition: color 0.6s, background-color 0.3s;
}
.todo-item label {
    display: inline;
    margin-left: 8px;
    font-weight:normal;
}

.todo-item div {
    display: inline;
}

.todo-item.show {
    -webkit-animation: fadeInLeft 1s;
    -moz-animation: fadeInLeft 1s;
    -ms-animation: fadeInLeft 1s;
    animation: fadeInLeft 1s;
}
.todo-item.hide {
    -webkit-animation: bounceOut 1s;
    -moz-animation: bounceOut 1s;
    -ms-animation: bounceOut 1s;
    animation: bounceOut 1s;
}
.todo-complete {

}
.todo-complete label {
    text-decoration: line-through;
}