<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TodoList</title>	
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/animate.min.css" rel="stylesheet">
    <link href="css/todo.css" rel="stylesheet">
</head>
<body ng-app="mainModule">
<div ng-controller="toDoListCtrl">

    <div class="col-xs-6 container">
        <h3 class="text-center">Tasks</h3>
        <form name="formTarea">
            <div class="well  container-fluid">
                <div class="row">
                    <div class="col-md-4">
                        <label class="control-label">Task</label>
                        <input type="text" ng-model="nombre" class="span3 text-center form-control"
                               placeholder="Descripción" required >
                    </div>
                    <div class="col-md-4">
                        <label class="control-label">Type</label>
                        <select ng-init="selected=tipos[0]"
                                ng-model="selected" class="ng-pristine ng-valid span3 form-control"
                                ng-options="tipo as tipo.name for tipo in tipos">
                        </select>
                    </div>
                    <div class="col-md-4" style="margin-top: 24px;">
                        <button ng-click="add()" class="btn btn-info span3">Add</button>
                    </div>
                </div>
            </div>
        </form>
        <div class="well" style="max-height: 750px;overflow: auto;">
            <ul class="list-group checked-list-box">
                <li class="list-group-item todo-item" style="{{tarea.style}}"
                    ng-class="tarea.visible ? 'show' : 'hide'"
                    ng-hide="!tarea.visible"
                    ng-repeat="tarea in tareas">
                    <div ng-class="tarea.checked ? 'todo-complete' : ''">
                    <span ng-click="check(tarea); edit()"
                          ng-class="tarea.checked ? 'glyphicon-check' : 'glyphicon-unchecked'"
                          class="state-icon glyphicon pull-left"></span>
                    <label>{{tarea.name}}</label>
                    </div>
                    <span ng-click="remove(tarea)"
                          class="state-icon glyphicon glyphicon glyphicon-remove-circle pull-right"></span>
                </li>
                <li ng-show="!tareas.length" style="list-style-type: none;">
                    <h3 class="text-center">Without to dos</h3>
                </li>
            </ul>
        </div>
    </div>

    <div class="col-xs-6">
        <h3 class="text-center">Tasks type</h3>
        <div class="well" style="max-height: 300px;overflow: auto;">
            <ul class="list-group checked-list-box" >
                <li class="list-group-item" style="{{tipo.style}}" ng-repeat="tipo in tipos">
                    <div ng-click="check(tipo); select(tipo.value)">
                        <span ng-class="tipo.checked ? 'glyphicon-check' : 'glyphicon-unchecked'"
                              class="state-icon glyphicon"></span>
                        &nbsp;{{tipo.name}}
                    </div>
                </li>
            </ul>
        </div>
    </div>

</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/angular-local-storage.js"></script>
    <script src="js/angular-animate.min.js"></script>
    <script src="js/toDoListCtrl.js"></script>
</body>
</html>